flows.json
[{"id":"a90b2199.c7e75","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa9a9243.19236","type":"tab","label":"employee dashboard","disabled":false,"info":""},{"id":"efa76d21.ad33","type":"ui_tab","name":"Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"74c0590a.dc4e38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88e31e14.f8ad8","type":"ui_group","name":"Select Employee","tab":"efa76d21.ad33","order":1,"disp":true,"width":"7","collapse":false},{"id":"66aa2fd9.522e3","type":"ui_group","name":"Sentiment of Conversation","tab":"efa76d21.ad33","order":3,"disp":true,"width":"7","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"a90b2199.c7e75","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"a90b2199.c7e75","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"bbcb1ae5.515cb8","type":"ui_dropdown","z":"aa9a9243.19236","name":"","label":"","tooltip":"","place":"Select option","group":"88e31e14.f8ad8","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Koshik","value":"Koshik","type":"str"},{"label":"Mounika","value":"Mounika","type":"str"},{"label":"Raju","value":"Raju","type":"str"},{"label":"Ravali","value":"Ravali","type":"str"},{"label":"Sreenu","value":"Sreenu","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":140,"wires":[["20f35ed5.debb62","ffe2017f.4a12"]]},{"id":"20f35ed5.debb62","type":"cloudant in","z":"aa9a9243.19236","name":"","cloudant":"","database":"employee","service":"node-red-aksgq-2021--cloudant-1622646291376-85214","search":"_id_","design":"","index":"","x":380,"y":80,"wires":[["25337511.dab5da","dd0278fa.04afa8"]]},{"id":"ffe2017f.4a12","type":"debug","z":"aa9a9243.19236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"25337511.dab5da","type":"debug","z":"aa9a9243.19236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"dd0278fa.04afa8","type":"function","z":"aa9a9243.19236","name":"parse db op","func":"msg.payload=msg.payload.conv\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":220,"wires":[["5ad5f991.ec3958","e39f165.7aff6e8"]]},{"id":"5ad5f991.ec3958","type":"debug","z":"aa9a9243.19236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":340,"wires":[]},{"id":"e39f165.7aff6e8","type":"watson-tone-analyzer-v3","z":"aa9a9243.19236","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/4a8ecddf-9da0-4d07-a125-c6e9b7508a50","x":560,"y":160,"wires":[["7d097bc9.7a6bd4","fa7e3a7f.2505a8"]]},{"id":"7d097bc9.7a6bd4","type":"debug","z":"aa9a9243.19236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"fa7e3a7f.2505a8","type":"function","z":"aa9a9243.19236","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["79331d53.9436c4","fcb31c32.c8b39","d7185cd3.66902"]]},{"id":"79331d53.9436c4","type":"debug","z":"aa9a9243.19236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"fcb31c32.c8b39","type":"ui_chart","z":"aa9a9243.19236","name":"","group":"66aa2fd9.522e3","order":1,"width":"7","height":"7","label":"Sentiment Analysis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1a79bc","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":400,"wires":[[]]},{"id":"d7185cd3.66902","type":"function","z":"aa9a9243.19236","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":500,"wires":[["9e354c1b.3724e"]]},{"id":"9e354c1b.3724e","type":"cloudant out","z":"aa9a9243.19236","name":"","cloudant":"","database":"sentiment","service":"node-red-aksgq-2021--cloudant-1622646291376-85214","payonly":false,"operation":"insert","x":890,"y":540,"wires":[]}]